@font-face{
    font-family: roboto;
    src: url(assets/Roboto.zip);
}

body {
    margin: 0;
    padding: 0;
    font-family: roboto;
    overflow-x: hidden;
}

.nav-btn1{
    display: none;
}

header{
    width: 100%;
}

.header-container {
    width: 1150px;
    margin: 0 auto;
    background: linear-gradient(90deg, #FFEFBA 0%, #FFFFFF 100%);
}

.headertop {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    width: 1050px;
    margin: auto;
}

.logomain {
    margin-left: 20px;
}

.nav-1 {
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.nav-ul1 ul {
    display: flex;
    justify-content: space-between;
    width: 350px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: #000000;
    height: 40px;
    align-items: center;
}

.nav-button button, .head-btn button {
    background: linear-gradient(90deg, #FFE259, #FFA751 100%);
    padding: 12px 26px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    color: white;
}

.nav-logo {
    width: 150px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav-logo-img img {
    width: 35px;
    height: 35px;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1050px;
    margin: auto;
}

.head-right {
   
    width: 500px;
    height: 350px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.heading h2 {
    font-size: 40px;
    margin-bottom: .5rem;
    font-weight: 500;
    text-transform: uppercase !important;
    
}

.head-para p{
    font-size: 18px;
    font-weight: 400;
    
}

.head-left img{
        height: 500px;
        width: 500px;
        margin-top: 10px;
}

@media (max-width: 1200px) {
    .header-container {
        width: 971px;
    }

    .headertop, .header-bottom {
    width: 900px;
}

.headertop{
    align-items: center;
}

    .head-left img{
        width: 400px;
        height: 400px;
    }

    .heading h2 {
        font-size: 34px;
    }
}

@media  (max-width: 992px) {


    .header-container {
        width: 720px !important;
        margin: auto;
    }

    .headertop{
        width: 600px;
    }
    .header-bottom {
       
        width: 600px;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .nav-btn1 {
        display: block;
    }

    .nav-1{
        display: none;
    }

    .head-left {
        order: 1;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .head-right {
        order: 11;
        width: 100%;
        margin-top: 20px;
    }

    .head-left img {
        width: 500px;
        height: auto;
    }

    .nav-1 {
        display: none; 
    }
}

@media (max-width: 768px) {
    
.header-container{
    width: 460px !important;
}

    .headertop, .header-bottom{
        width: 440px;
    }

    .head-left img{
        width: 400px !important;
    }
    
    .heading h2 {
        font-size: 28px;
        line-height: normal;
    }

    .head-para p {
        font-size: 16px;
    }

    .nav-button button {
        padding: 8px 18px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    
.header-container{
    width: 320px !important;
}

    .headertop, .header-bottom{
        width: 300px;
    }

    .head-left img {
        width: 280px !important;
    }

    .heading h2 {
        font-size: 22px;
    }

    .head-para p {
        font-size: 14px;
    }

    .nav-logo {
        display: none;
    }
}






